<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/styles/mystyle.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon"/>
    <title>FULLSTACK WEB DEV V2.0</title>
</head>