<!DOCTYPE html>

<html>
{{>header}}
<body>
<div class="wrapper">
    {{>menu}}

    <div class="content">
        <div class="Hello">
            <h1>Welcome!</h1>
            <img src="http://risovach.ru/upload/2019/06/mem/velkom-tu-ze-klab_211038076_orig_.jpg">
        </div>

    </div>

    {{>footer}}
</div>
</body>
</html>