<!DOCTYPE html>

<html>
{{>header}}
<body>
<div class="wrapper">
    {{>menu}}

    <div class="content">
        <div class="profile">
            <div class="profile_header">
                <div class="picture">
                    <img src="https://steamuserimages-a.akamaihd.net/ugc/781854449290644880/A96289F3BB2B075BC7AEBD090E893A6CA2F27FD2/"
                         alt="" class="box-img">
                </div>
                <div class="name">Username : {{username}}</div>
                <div class="gender">Admin : {{is_admin}}</div>
            </div>
            <div class="profile_buttons">
                <a href="/logout">Log out</a>
                <a href="/settings">Settings</a>
            </div>
        </div>
    </div>
</div>

{{>footer}}
</div>
</body>
</html>