<!DOCTYPE html>

<html>
{{>header}}
<body>
<div class="wrapper">
    {{>menu}}

    <div class="content">
        <div class="login">
            <h2>Change settings</h2>
            <form action="/settings" method="post">

                <div class="inputBox">
                    <input type="password" name="password" required="">
                    <label>Change password</label>
                </div>

                <input type="submit" value="Submit">
            </form>


        </div>

    </div>

    {{>footer}}
</div>
</body>
</html>